---
---

<div class="flex flex-wrap justify-between xl:justify-start gap-5 xl:gap-8">
  <p class="flex items-center gap-2 text-zinc-400 leading-tight">
    <span class="block font-semibold text-3xl sm:text-5xl bg-gradient-to-r from-yellow-500 from-0% via-yellow-400 via-30% to-yellow-200 to-110% text-transparent bg-clip-text">+5</span>
    <span class="block">anos de <span class="block">experiência</span></span>
  </p>

  <p class="flex flex-wrap items-center gap-2 text-zinc-400 leading-tight">
    <span class="block font-semibold text-3xl sm:text-5xl bg-gradient-to-r from-yellow-500 from-0% via-yellow-400 via-30% to-yellow-200 to-110% text-transparent bg-clip-text">+118</span>
    <span class="block leading-tight">clientes <span class="block">satisfeitos</span></span>
  </p>
</div>