---
---

<div class="flex flex-col gap-4">
  <h1 class="font-semibold text-3xl sm:text-4xl md2:text-[2.5rem] text-center md2:text-start leading-tight">
    Aprenda a vender suas consultorias na <span class="bg-gradient-to-r from-yellow-500 from-0% via-yellow-400 via-30% to-yellow-200 to-110% text-transparent bg-clip-text">primeira conversa</span> com os seus leads
  </h1>
  <h2 class="max-w-lg text-center md2:text-start text-zinc-400 leading-normal mx-auto md2:mx-0">
    E pare de perder tempo em follow-up com leads que só te enrolam quando você apresenta o preço.
  </h2>
</div>