---
---

<div class="flex flex-col gap-4">
  <h1 class="font-semibold text-2xl sm:text-4xl md2:text-4xl text-center md2:text-start text-pretty leading-snug sm:leading-tight md2:leading-snug uppercase">
    Ensino você a vender suas mentorias na <span class="bg-gradient-to-r from-yellow-500 from-0% via-yellow-400 via-30% to-yellow-200 to-110% text-transparent bg-clip-text">primeira conversa</span> com seus leads
  </h1>
  <h2 class="max-w-lg text-center md2:text-start text-zinc-400 text-pretty leading-normal mx-auto md2:mx-0">
    Não importa se é por call, DM ou WhatsApp. 
  </h2>
</div>