---
import CTA from '@/components/CTA.astro'
import Container from '@/components/Container.astro'
import CountClients from '@/components/Hero/CountClients.astro'
import Headline from '@/components/Hero/Headline.astro'
---
<section class="relative min-h-dvh h-fit w-full bg-[url('/images/hero/bg-large.webp')] bg-top bg-cover bg-no-repeat">
  <Container>
    <div class="max-w-xl w-full flex flex-col gap-8 py-24">
      <CountClients />
      <Headline />
      <CTA />
    </div>
  </Container>
</section>