---
import IconMoreContent from '@/components/IconMoreContent.astro'
import Separator from '@/components/Separator.astro'
import Container from '../Container.astro'
---

<Container>
  <div class="relative">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <IconMoreContent />
    </div>
    <Separator />
  </div>
</Container>