---
import { Button } from '@/components/ui/button'
import WhatsApp from './WhatsApp.astro'
import { cn } from '@/lib/utils'

interface Props {
  className?: string
}

const { className } = Astro.props
---

<Button className={cn('font-semibold w-fit text-base text-wrap leading-tight text-zinc-950 py-4 px-4 xs:px-8 rounded-full bg-gradient-to-r from-yellow-500 from-0% via-yellow-400 via-30% to-yellow-200 to-110% shadow-xl shadow-zinc-950/25 transition-all hover:bg-yellow-500 hover:scale-95', className)}>
  Quero vender na primeira conversa
  <WhatsApp />
</Button>