---
import { Button } from '@/components/ui/button'
import WhatsApp from './WhatsApp.astro'
---

<Button className='font-semibold w-fit text-base text-zinc-950 py-4 px-8 rounded-full bg-gradient-to-r from-yellow-500 from-0% via-yellow-400 via-30% to-yellow-200 to-110% shadow-md shadow-zinc-950/25 transition-all hover:bg-yellow-500 hover:scale-95'>
  Quero vender na primeira conversa
  <WhatsApp />
</Button>