---
import CardTestimonial from '@/components/Testimonials/CardTestimonial.astro'
---

<ul class="w-full flex justify-center">
  <div class="max-w-4xl flex justify-center flex-wrap gap-4">
    <CardTestimonial 
      titleCard='Venda realizada em menos de 2 horas de interação com o lead'
      srcImage='/images/testimonials/dep-01.webp'
    />
    <CardTestimonial 
      titleCard='Fechando venda em call e recebendo o pagamento no pix'
      srcImage='/images/testimonials/dep-02.webp'
    />
    <CardTestimonial 
    titleCard='“Se eu tivesse isso em mãos antes, eu nao teria perdido tanto clientes”'
    srcImage='/images/testimonials/dep-06.webp'
    />
    <CardTestimonial 
      titleCard='“Fechei um contrato de 3 meses aplicando o processo por call”'
      srcImage='/images/testimonials/dep-03.webp'
    />
    <CardTestimonial 
    titleCard='“Era o que faltava pra eu conseguir fazer uma reunião que converta bem”'
    srcImage='/images/testimonials/dep-04.webp'
    />
    <CardTestimonial 
      titleCard='“Me deu as ferramentas que precisava para entender como fazer um atendimento de qualidade”'
      srcImage='/images/testimonials/dep-05.webp'
    />
  </div>
</ul>