---
import CTA from '@/components/CTA.astro'
import Container from '@/components/Container.astro'
import GridCards from '@/components/Testimonials/GridCards.astro'
import Title from '@/components/Title.astro'
---

<section class="py-[120px]">
  <Container class='relative flex flex-col items-center gap-16 px-5'>
    <Title className='max-w-md sm:max-w-xl' tag='Depoimentos'>
      Veja o que meus alunos tem dito sobre o <span class="bg-gradient-to-r from-yellow-500 from-0% via-yellow-400 via-30% to-yellow-200 to-110% text-transparent bg-clip-text">Venda na 1ยบ Conversa</span>
    </Title>

    <GridCards />
    <CTA />
  </Container>
</section>